.DS_Store
.idea


JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/node_modules
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/package-lock.json
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/multi1.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/bin
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/bin