.DS_Store
.idea

JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/node_modules
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/package-lock.json
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/multi1.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi1/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi2/bin
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/.settings
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/target
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/maven-example/multi3/bin

JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/target
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/npm-example/.jfrog
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/npm-example/node_modules
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/npm-example/.npmrc
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/npm-example/package-lock.json
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi1/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi1/.settings
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi1/multi1.iml
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi1/target
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi2/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi2/.settings
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi2/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi2/target
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi2/bin
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi3/.jfrog_vscode
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi3/.settings
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi3/multi2.iml
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi3/target
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/maven-example/multi3/bin
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/example/docker-example/.jfrog

JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/artifactory-repo/terraform.tfstate
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/artifactory-repo/terraform.tfstate.backup
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/artifactory-repo/plan.out
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/artifactory-repo/.terraform.lock.hcl
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/artifactory-repo/.terraform
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/terraform.tfstate
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/terraform.tfstate.backup
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/plan.out
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/.terraform.lock.hcl
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/.terraform
JFTD103-JFrog_Platform_Automation/lab-1-Repository-Provisioning/terraform/modules/terraform.tfstate


JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/artifactory-repo/terraform.tfstate
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/artifactory-repo/terraform.tfstate.backup
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/artifactory-repo/plan.out
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/artifactory-repo/.terraform.lock.hcl
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/artifactory-repo/.terraform
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/terraform.tfstate
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/terraform.tfstate.backup
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/plan.out
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/.terraform.lock.hcl
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/.terraform
JFTD103-JFrog_Platform_Automation/lab-2-Role-Based-Access-Control/terraform/modules/terraform.tfstate


JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/terraform/.terraform
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/terraform/.terraform.lock.hcl
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/terraform/terraform.tfstate
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/terraform/plan.out
JFTD103-JFrog_Platform_Automation/lab-5-JFrog-Security/terraform/terraform.tfstate.backup


JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/.npmrc
JFTD103-JFrog_Platform_Automation/lab-3-Build-and-Replication/example/npm-example/jfrog.npmrc.backup